:root {
  --font-primary: "Roboto", sans-serif;
  --color-primary: #e31c25;
  --color-secondary: #bb000e;
  --color-background: #222222;
  --color-default: #2c2c2c;
  --color-text-white: #ffffff;
  --color-text-black: #1c1c1c;
  --color-label-black: rgba(44, 44, 44, 0.6);
  --color-label-white: rgba(255, 255, 255, 0.6);
  --color-overlay-black: rgba(0, 0, 0, 0.5);
  --color-paper: #161616;
  --color-white: #ffffff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
